In [2]:
def print_matrix(a):
    for row in a:
        print(row)
    print()

In [4]:
import random as rd
# create 2d matrix 5x5
a = [[rd.randint(10, 100) for i in range(5)] for j in range(5)]
print_matrix(a)

[41, 93, 51, 22, 74]
[88, 23, 37, 96, 78]
[87, 85, 38, 27, 18]
[89, 14, 27, 61, 67]
[72, 24, 95, 88, 96]

In [5]:
# Function in python is generic
# You can pass any type of data to function 
# as long as it is accepted by the operations in the function

def my_max(a, b):
    return a if a > b else b

In [ ]:
# call my_max with intergers
print(my_max(10, 20))
# call my_max with float
print(my_max(10.5, 20.5))
# call my_max with string
print(my_max("abc", "xyz"))
# call my_max with list & a number
print(my_max([1, 2, 3], 10)) # error because list is not comparable with number

In [10]:
# Pass by value
def swap(a, b):
    a, b = b, a
    print(f"Inside swap: a = {a}, b = {b}")

In [11]:
a = 5
b = 10
swap(a, b)
print(f"Outside swap: a = {a}, b = {b}")

Inside swap: a = 10, b = 5
Outside swap: a = 5, b = 10

In [ ]:
# Pass by reference
def swap_list(a, b):
    for i in range(len(a)):
        a[i], b[i] = b[i], a[i]
    print(f"Inside swap_list: a = {a}, b = {b}")

a = [1, 2, 3]
b = [4, 5, 6]
swap_list(a, b)
print(f"Outside swap_list: a = {a}, b = {b}")
# cannot call swap_list with tuple and string because they are immutable
c = (1, 2, 3)
d = (4, 5, 6)
swap_list(c, d) # error

In [15]:
s1 = "abc"
s2 = "xyz"
swap_list(s1, s2) # error

TypeError: 'str' object does not support item assignment

In [23]:
print(a, b, sep='********', end='Bye!')
print()
print(a, b, end='Bye!', sep='********')

[4, 5, 6]********[1, 2, 3]Bye!
[4, 5, 6]********[1, 2, 3]Bye!

In [29]:
def my_func(a, b, n=10, s='hello'):
    print(a, b, n, s, sep=' - ')

In [30]:
# call my_func, pass only a & b
my_func(4, 5) # function will print default values of n & s

4 - 5 - 10 - hello

In [31]:
# call my_func, pass a, b & n
my_func(4, 5, 20) # function will print default value of s
my_func(4, 5, n=20)

4 - 5 - 20 - hello
4 - 5 - 20 - hello

In [34]:
my_func(4, 5, 20, 'python')
my_func(4, 5, n=20, s='python')
my_func(4, 5, 'python', 20)
my_func(4, 5, s='python', n=20)
my_func(4, 5, n='python', s=20)

4 - 5 - 20 - python
4 - 5 - 20 - python
4 - 5 - python - 20
4 - 5 - 20 - python
4 - 5 - python - 20

In [35]:
my_func(4, 5, 'python')

4 - 5 - python - hello

In [37]:
# Function can pass any number of arguments
def sum_args(*items):
    print(type(items))
    s = 0
    for i in items:
        s += i
    return s

print(sum_args())
print(sum_args(1))
print(sum_args(1, 2))
print(sum_args(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

<class 'tuple'>
0
<class 'tuple'>
1
<class 'tuple'>
3
<class 'tuple'>
55

In [38]:
def sum_selected(*items, even=True):
    s = 0
    if even:
        for i in items:
            if i % 2 == 0:
                s += i
    else:
        for i in items:
            if i % 2 != 0:
                s += i
    return s

In [39]:
print(sum_selected(1, 2, 3, 4, 5, 6))
print(sum_selected(1, 2, 3, 4, 5, 6, even=False))

12
9

In [41]:
def swap(a, b):
    t = a
    a = b
    b = t
    return a, b

In [42]:
a = 5
b = 10
a, b = swap(a, b)
print(a, b)

10 5

In [51]:
def min_max(items):
    mi = ma = items[0]
    for i in items:
        if i < mi:
            mi = i
        if i > ma:
            ma = i
    return mi, ma

In [52]:
a = [rd.randint(0, 100) for i in range(10)]
print(a)
mina, maxa = min_max(a)
print(f'Min = {mina}, Max = {maxa}')

[44, 55, 27, 53, 5, 46, 82, 93, 77, 19]
Min = 5, Max = 93

In [53]:
# if we want to get only min or max
_, maxa = min_max(a)
print(f'Max = {maxa}')
mina, _ = min_max(a)
print(f'Min = {mina}')

Max = 93
Min = 5

In [54]:
m = min_max(a)
print(m, type(m))

(5, 93) <class 'tuple'>