In [2]:
def sort_asc(items):
    n = len(items)
    for i in range(n):
        for j in range(n-1):
            if items[j] > items[j+1]:
                items[j], items[j+1] = items[j+1], items[j]

def sort_desc(items):
    n = len(items)
    for i in range(n):
        for j in range(n-1):
            if items[j] < items[j+1]:
                items[j], items[j+1] = items[j+1], items[j]

In [3]:
def sort_asc_desc(items, asc=True):
    n = len(items)
    for i in range(n):
        for j in range(n-1):
            if asc:
                if items[j] > items[j+1]:
                    items[j], items[j+1] = items[j+1], items[j]
            else:
                if items[j] < items[j+1]:
                    items[j], items[j+1] = items[j+1], items[j]

In [4]:
names = ['John Lennon', 'Jane Doe', 'Bob Dylan', 'Alice in Wonderland', 'Mary Smith']
sort_asc_desc(names, asc=False)
print(names)

['Mary Smith', 'John Lennon', 'Jane Doe', 'Bob Dylan', 'Alice in Wonderland']

In [5]:
def greater_than(a, b):
    return a > b
def less_than(a, b):
    return a < b
    
def my_sort(items, compare=greater_than):
    n = len(items)
    for i in range(n):
        for j in range(n-1):
            if compare(items[j], items[j+1]):
                items[j], items[j+1] = items[j+1], items[j]

In [6]:
import random as rd
numbers = [rd.randint(1, 100) for i in range(10)]
print(numbers)
my_sort(numbers) # default is greater_than (ascending)
print(numbers)
my_sort(numbers, less_than) # descending
print(numbers)

[33, 61, 37, 19, 25, 45, 22, 29, 8, 13]
[8, 13, 19, 22, 25, 29, 33, 37, 45, 61]
[61, 45, 37, 33, 29, 25, 22, 19, 13, 8]

In [7]:
def greater_len(a, b):
    return len(a) > len(b)
def less_len(a, b):
    return len(a) < len(b)

my_sort(names, greater_len)
print(names) # shortest first
my_sort(names, less_len)
print(names) # longest first

['Jane Doe', 'Bob Dylan', 'Mary Smith', 'John Lennon', 'Alice in Wonderland']
['Alice in Wonderland', 'John Lennon', 'Mary Smith', 'Bob Dylan', 'Jane Doe']

In [9]:
numbers = [rd.randint(-100, 100) for i in range(20)]
print(numbers)

# Write a compare function so that the list is sorted in descending order by absolute value
def greater_abs(a, b):
    return abs(a) > abs(b)
def less_abs(a, b):
    return abs(a) < abs(b)

my_sort(numbers, greater_abs)
print(numbers)
my_sort(numbers, less_abs)
print(numbers)

[95, 41, -27, 99, 99, 20, 21, -9, -18, 72, -80, -82, 74, 69, 64, 80, -90, -51, -32, -64]
[-9, -18, 20, 21, -27, -32, 41, -51, 64, -64, 69, 72, 74, -80, 80, -82, -90, 95, 99, 99]
[99, 99, 95, -90, -82, -80, 80, 74, 72, 69, 64, -64, -51, 41, -32, -27, 21, 20, -18, -9]

In [10]:
numbers = [rd.randint(10, 100) for i in range(20)]
# Sort by the last digit

def greater_last_digit(a, b):
    return a % 10 > b % 10
def less_last_digit(a, b):
    return a % 10 < b % 10

my_sort(numbers, greater_last_digit)
print(numbers)
my_sort(numbers, less_last_digit)
print(numbers)

[91, 63, 13, 24, 44, 94, 34, 65, 35, 75, 75, 25, 86, 36, 56, 37, 98, 98, 69, 69]
[69, 69, 98, 98, 37, 86, 36, 56, 65, 35, 75, 75, 25, 24, 44, 94, 34, 63, 13, 91]

In [12]:
def identity(a):
    return a

def print_items(items, col1, col2, show=identity):
    print(f'{col1:>3s}. {col2:<20s}')
    for i, item in enumerate(items):
        print(f'{i+1:3d}. {show(item):<20}')

names = ['John Lennon', 'Jane Doe', 'Bob Dylan', 'Alice Decker', 'Mary Smith']
print_items(names, 'No', 'Name')

 No. Name
  1. John Lennon
  2. Jane Doe
  3. Bob Dylan
  4. Alice Decker
  5. Mary Smith

In [13]:
print_items(names, 'No', 'Length', len)

 No. Length
  1. 11
  2. 8
  3. 9
  4. 12
  5. 10

In [15]:
# Use print_items to print number of vowels in each name
def count_vowels(name):
    count = 0
    for ch in name:
        if ch.lower() in 'aeiou':
            count += 1
    return count

print_items(names, 'No', 'Vowels', count_vowels)

 No. Vowels
  1. 3
  2. 4
  3. 2
  4. 5
  5. 2

In [17]:
names = {'John': 'mickey', 'Paul': 'donald', 'George': 'goofy', 'Ringo': 'pluto'}
# use print_items to print names
print_items(names, 'No', 'Name')
# use print_items to print nick names
def get_nick_name(name):
    return names[name]
print_items(names, 'No', 'Nick Name', get_nick_name)

 No. Name
  1. John
  2. Paul
  3. George
  4. Ringo
 No. Nick Name
  1. mickey
  2. donald
  3. goofy
  4. pluto

In [19]:
employees = [['John Lennon', '0867838383', 1000],
             ['', '0867838aaa', 2500],
             ['Bob Dylan Bob Dylan Boblan Bob Dylan Bob Dylan', '01238272722', 300],
             ['Alice Decker', 'PPpp82268', 1088],
             ['Mary Smith', '---678383==', 100]]

def clean_employees(employees, fix_name, fix_phone, fix_salary):
    for employee in employees:
        employee[0] = fix_name(employee[0])
        employee[1] = fix_phone(employee[1])
        employee[2] = fix_salary(employee[2])

# Write a function to fix name, phone and salary

def fix_empty_name(name):
    return 'John Doe' if name == '' else name

def fix_long_name(name):
    return name[:20]

def fix_small_salary(salary):
    return 200 if salary < 200 else salary

def fix_big_salary(salary):
    return 2000 if salary > 2000 else salary

def fix_nothing(a):
    return a

In [21]:
clean_employees(employees, fix_empty_name, fix_nothing, fix_small_salary)
print(employees)
clean_employees(employees, fix_long_name, fix_nothing, fix_big_salary)
print(employees)

[['John Lennon', '0867838383', 1000], ['John Doe', '0867838aaa', 2500], ['Bob Dylan Bob Dylan Boblan Bob Dylan Bob Dylan', '01238272722', 300], ['Alice Decker', 'PPpp82268', 1088], ['Mary Smith', '---678383==', 200]]
[['John Lennon', '0867838383', 1000], ['John Doe', '0867838aaa', 2000], ['Bob Dylan Bob Dylan ', '01238272722', 300], ['Alice Decker', 'PPpp82268', 1088], ['Mary Smith', '---678383==', 200]]

In [28]:
def fix_phone(phone):
    list_digits = [c if c.isdigit() else '0' for c in phone]
    phone = ''.join(list_digits)
    return phone

In [29]:
clean_employees(employees, fix_nothing, fix_phone, fix_nothing)
print(employees)

[['John Lennon', '0867838383', 1000], ['John Doe', '0867838000', 2000], ['Bob Dylan Bob Dylan ', '01238272722', 300], ['Alice Decker', '000082268', 1088], ['Mary Smith', '00067838300', 200]]